@model Ns.Utility.Web.Models.ResourceModel
@using Ns.Utility.Web.Framework.Security
@using System.Security.Claims
@using Ns.Utility.Web.Framework.Helper
@{
    ViewBag.Title = "AddEdit";
}
@{
    IUserSession session = new UserSession(User as ClaimsPrincipal);
}
<div class="form-top">
    @using (Html.BeginForm("AddEdit", "Resource", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="submit" class=" btn btn-sm btn-primary">Submit</button>
                        @Html.ActionLink("Cancel", "List", "Resource", null, new { area = "", @class = "btn btn-sm btn-primary" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Aprimo Resource</h3>
            </div>
            <div class="panel-body">
                @if (!Model.IsNew)
                {
                    <div class="form-group">
                        @Html.LabelFor(x => x.Id, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(x => x.Key, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(x => x.Key, new { @class = "form-control", placeholder = "Next ID", @readonly = "readonly" })
                        @Html.ValidationMessageFor(x => x.Key)
                    </div>
                </div>
                @if (!session.HasProject)
                {
                    if (!Model.IsNew)
                    {
                        @Html.HiddenFor(x => x.ProjectId)
                        <div class="form-group">
                            @Html.LabelFor(x => x.ProjectName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-5">
                                @Html.TextBoxFor(x => x.ProjectName, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(x => x.ProjectName)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.LabelFor(x => x.ProjectId, new { @class = "col-md-2 control-label" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(x => x.ProjectId, Model.Projects.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() }), new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ProjectId)
                            </div>
                        </div>
                    }
                }
                <div class="form-group">
                    @Html.LabelFor(x => x.Text, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(x => x.Text, new { @class = "form-control", placeholder = "Enter Text" })
                        @Html.ValidationMessageFor(x => x.Text)
                    </div>
                    <div><button id="apply-term" class="btn btn-sm btn-primary">Apply Term</button></div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextAreaFor(x => x.Description, 3, 3, new { @class = "form-control", placeholder = "Enter Description" })
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        var apiUrl = '@Html.BuildUrl("api/terms")'
    </script>
    @Scripts.Render("~/bundles/resource.addedit")
}