@using Ns.Utility.Web.Framework.Helper
@{
    ViewBag.Title = "List";
}

<div class="form-horizontal form-top">
    <div id="grid-buttons" class="form-group">
        <div class="col-md-offset-9 col-md-3">
            <button class=" btn btn-primary" id="preview">Preview</button>
            <button class="btn btn-primary" id="export">Export</button>
            <button class="btn btn-danger" id="delete">Delete</button>
        </div>
    </div>
    <div id="grid"></div>

    <div id="preview-buttons" class="form-group hidden">
        <div class="col-md-offset-10 col-md-2">
            <button class="btn btn-primary" id="export">Export</button>
            <button class="btn btn-default" id="back">Back</button>
        </div>
    </div>
    <div id="code-container" class="panel hidden">
        <div class="panel-title">SQL Script Preview</div>
        <div class="panel-body">
            <pre id="code-line">INSERT INTO replacement_string_table VALUES ({0}, '{1}', 1, 1)
INSERT INTO completed_strings VALUES ({0}, 1, '{1}')

INSERT INTO replacement_string_table VALUES ({0}, '{1}', 1, 1)
INSERT INTO replacement_string_table VALUES ({0}, '{1}', 1, 1)

INSERT INTO completed_strings VALUES ({0}, 1, '{1}')
INSERT INTO replacement_string_table VALUES ({0}, '{1}', 1, 1)
INSERT INTO completed_strings VALUES ({0}, 1, '{1}')
INSERT INTO replacement_string_table VALUES ({0}, '{1}', 1, 1)
INSERT INTO completed_strings VALUES ({0}, 1, '{1}')
INSERT INTO replacement_string_table VALUES ({0}, '{1}', 1, 1)
INSERT INTO completed_strings VALUES ({0}, 1, '{1}')
INSERT INTO replacement_string_table VALUES ({0}, '{1}', 1, 1)
INSERT INTO completed_strings VALUES ({0}, 1, '{1}')
INSERT INTO replacement_string_table VALUES ({0}, '{1}', 1, 1)
INSERT INTO completed_strings VALUES ({0}, 1, '{1}')
INSERT INTO replacement_string_table VALUES ({0}, '{1}', 1, 1)
INSERT INTO completed_strings VALUES ({0}, 1, '{1}')
INSERT INTO replacement_string_table VALUES ({0}, '{1}', 1, 1)
INSERT INTO completed_strings VALUES ({0}, 1, '{1}')
INSERT INTO replacement_string_table VALUES ({0}, '{1}', 1, 1)
INSERT INTO completed_strings VALUES ({0}, 1, '{1}')
INSERT INTO replacement_string_table VALUES ({0}, '{1}', 1, 1)
INSERT INTO completed_strings VALUES ({0}, 1, '{1}')
INSERT INTO completed_strings VALUES ({0}, 1, '{1}')</pre>
        </div>
    </div>
</div>


@section styles
{
    @Styles.Render("~/Content/kendo")
}

@section scripts
{
    @Scripts.Render("~/bundles/kendo")
    <script type="text/javascript">
        var feedUrl = '@Html.BuildUrl("/api/resources")'
    </script>
    @Scripts.Render("~/bundles/resource")
    @Scripts.Render("~/bundles/grid")
}