@model Ns.Utility.Web.Areas.Admin.Models.ProjectModel
@{
    ViewBag.Title = "AddEdit";
}

<div class="form-top">
    @using (Html.BeginForm("AddEdit", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="well well-sm">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="submit" class=" btn btn-sm btn-primary">Submit</button>
                        @Html.ActionLink("Cancel", "List", "Project", null, new { area = "Admin", @class = "btn btn-sm btn-primary" })
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Projects</h3>
            </div>
            <div class="panel-body">
                @if (!Model.IsNew)
                {
                    <div class="form-group">
                        @Html.LabelFor(x => x.Id, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(x => x.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Enter Project Name" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Code, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(x => x.Code, new { @class = "form-control", placeholder = "Enter Project Code" })
                        @Html.ValidationMessageFor(x => x.Code)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-5">
                        @Html.TextAreaFor(x => x.Description, 3, 3, new { @class = "form-control", placeholder = "Enter Project Code" })
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
                @Html.HiddenFor(x => x.Version)
            </div>
        </div>
    }
</div>