@using Ns.Utility.Web.Framework.Helper
@{
    ViewBag.Title = "List";
}

<div class="form-top">
    <div class="well well-sm">
        <div class="row">
            <div class="form-inline col-md-6">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control input-sm">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-search"></i> Search</button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    @Html.ActionLink("Add New", "AddEdit", "Project", null, new { area = "Admin", @class = "btn btn-sm btn-primary" })
                </div>
            </div>
        </div>
    </div>
    <div id="grid"></div>
</div>

@section styles
{
    @Styles.Render("~/Content/kendo")
}

@section scripts
{
    @Scripts.Render("~/bundles/kendo")
    <script type="text/javascript">
        var apiUrl = '@Html.BuildUrl("api/projects")'
        var actionUrl = '@Url.Action("AddEdit", "Project", new { area = "Admin" })'
    </script>
    @Scripts.Render("~/bundles/project")
    @Scripts.Render("~/bundles/grid")
}