@using Ns.Utility.Web.Framework.Helper
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.AppTitle()</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Html.AppTitle().ToString(), "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Projects List", "List", "Project", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("New Project", "AddEdit", "Project", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">System Parameters</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("System Parameters", "List", "Parameter", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("New System Parameter", "AddEdit", "Parameter", new { area = "" }, null)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("System Parameter Tabs", "List", "Tab", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("New System Parameter Tab", "AddEdit", "Tab", new { area = "" }, null)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("System Parameter Groups", "List", "Group", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("New System Parameter Group", "AddEdit", "Group", new { area = "" }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Replacement Strings", "List", "Resource", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("New Replacement String", "AddEdit", "Resource", new { area = "" }, null)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Replacement Terms", "List", "Term", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("New Replacement Term", "AddEdit", "Term", new { area = "" }, null)</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="glyphicon glyphicon-user"></b> @User.Identity.Name</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
        <footer class="footer-bar">
            <div class="navbar-inverse navbar-fixed-bottom">
                <p>&copy; @DateTime.Now.Year - @Html.AppTitle(). All Rights Reserved.</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
